#canvas-container, #root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(326deg, #660000 0%, #191818 54%);*/
    background-image: linear-gradient(0deg, #000000 0%, #191818 59%);
    /*background-image: linear-gradient(326deg, #305444 0%, #191818 54%);*/
    /*background-image: linear-gradient(326deg, #000000 0%, #272727 74%);*/
}

.wrapper-img{
    width: 40vw;
    height: 40vh;
    overflow: hidden;
    margin: 0 auto 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.start-btn {
    color: white;
    cursor: pointer;
    font-size: 33px;
    font-family: sans-serif;
    position: absolute;
    transition: opacity 1.5s ease-in ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#mask.hidden, .hidden{
    opacity: 0;
    z-index: -999;
}

#mask{
    background-image: linear-gradient(0deg, #000000 0%, #191818 59%);
    min-height: 100Vh;
    min-width: 100%;
    position: absolute;
    z-index: 999;
    transition: opacity .6s ease-in-out;
}